﻿<div class="service-type">
    <div class="row">
        <div class="col-md-12">
            <input placeholder="Passcode" type="password" class="form-control" id="passcode" name="passcode" required />
            <div class="invalid-feedback">
                Vui lòng kiểm tra mật khẩu
            </div>
        </div>
        <div class="col-md-12 text-left font-weight-bold service-type-header">Chọn Loại Dịch Vụ</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-red service-type-btns active" data-id="Cleaner">
                <div class="row">
                    <div class="col-md-12">
                        <img class="service-type-icon" src="~/images/login/bucket.png" />
                    </div>
                    <div class="col-md-12 font-weight-bold btn-service-type">
                        Vệ Sinh
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-red service-type-btns" data-id="Guard">
                <div class="row">
                    <div class="col-md-12">
                        <img class="service-type-icon" src="~/images/login/policeman.png" />
                    </div>
                    <div class="col-md-12 font-weight-bold btn-service-type">
                        Bảo Vệ
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-red service-type-btns" data-id="StudentCare">
                <div class="row">
                    <div class="col-md-12">
                        <img class="service-type-icon" src="~/images/login/social-care.png" />
                    </div>
                    <div class="col-md-12 font-weight-bold btn-service-type">
                        Chăm Sóc Học Viên
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-custom-red-color" type="button" id="start-evaluate">Bắt Đầu Đánh Giá</button>
    </div>
</div>
@if(ViewBag.isPartial != null)
{
    <script>
        $(document).ready(() => {
            authentication.initAuthentication();
        });
    </script>
}

