﻿@{
    ViewData["Title"] = "Đăng Nhập";
}
<link rel="stylesheet" href="~/css/evaluation/_authentication.css" />
<link rel="stylesheet" href="~/css/evaluation/authentication.css" />

<div class="card evaluate-card text-center">
    <div class="card-body">
        <div class="container login-section">
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="arrow-icon" src="~/images/login/arrow-button.png" />
                    <h2 class="login-text">Đăng Nhập</h2>
                </div>
            </div>
        </div>
        <partial name="_Authentication" />
        
    </div>
</div>

@section Scripts {
    <script src="~/js/evaluation/authentication.js" type="text/javascript"></script>
    <script>
        $(document).ready(() => {
            authentication.initAuthentication();
        });
    </script>
}
