﻿@model AltGroupDemo.Service.Dtos.LoginDto
@{
    ViewData["Title"] = "Đánh Giá";
}
<link rel="stylesheet" href="~/css/evaluation/_authentication.css" />
<link rel="stylesheet" href="~/css/evaluation/evaluate.css" />
<div class="evaluate-container">
    <div class="row text-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="evaluate-title">
                <h2 class="text-uppercase font-weight-bold">Đánh Giá Chất Lượng Dịch Vụ</h2>
                <p>Bạn đang đánh giá chi nhánh <b>Phan Chu Trinh</b></p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tùy chọn
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="change-service">Đổi dịch vụ</a>
                    <a class="dropdown-item" id="logout" href="/evaluation/logout">Thoát</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <div id="evaluate-body">
                <div class="row">
                    <div class="col-md-12" id="question">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="emoji">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="status" class="font-weight-bold">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="stars">
                                    <i class="star-on evaluate-star" aria-hidden="true"></i>
                                    <i class="star-off evaluate-star" aria-hidden="true"></i>
                                    <i class="star-off evaluate-star" aria-hidden="true"></i>
                                    <i class="star-off evaluate-star" aria-hidden="true"></i>
                                    <i class="star-off evaluate-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="comment">
                            <textarea rows="4" placeholder="Xin cho biết góp ý của bạn để chúng tôi có thể cải thiện dịch vụ tốt hơn"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-custom-red-color" id="send-button">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="servicetype-cleaner" class="display-none"><b>Bạn thấy lớp học, văn phòng ALT IELTS Gia Sư có <span class="text-red">Sạch Sẽ</span> không</b></span>
    <span id="servicetype-guard" class="display-none"><b>Bạn có hài lòng với dịch vụ <span class="text-red">Bảo Vệ</span> của ALT IELTS Gia Sư không</b></span>
    <span id="cleaner-1" class="display-none">Rất Không Sạch Sẽ</span>
    <span id="cleaner-2" class="display-none">Không sạch sẽ</span>
    <span id="cleaner-3" class="display-none">Chấp nhận được</span>
    <span id="cleaner-4" class="display-none">Sạch sẽ</span>
    <span id="cleaner-5" class="display-none">Rất sạch sẽ</span>
    <span id="guard-1" class="display-none">Rất tệ</span>
    <span id="guard-2" class="display-none">Tệ</span>
    <span id="guard-3" class="display-none">Bình thường</span>
    <span id="guard-4" class="display-none">Tốt</span>
    <span id="guard-5" class="display-none">Rất tốt</span>
    <i class="display-none" id="emoji-1">
        <img class="icon-size" src="~/images/emoji/crying.png" />
    </i>
    <i class="display-none" id="emoji-2">
        <img class="icon-size" src="~/images/emoji/unhappy.png" />
    </i>
    <i class="display-none" id="emoji-3">
        <img class="icon-size" src="~/images/emoji/smile.png" />
    </i>
    <i class="display-none" id="emoji-4">
        <img class="icon-size" src="~/images/emoji/happy.png" />
    </i>
    <i class="display-none" id="emoji-5">
        <img class="icon-size" src="~/images/emoji/in-love.png" />
    </i>

    <div class="modal fade" tabindex="-1" role="dialog" id="change-service-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vui lòng nhập passcode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="change-service-modal-contain">

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/evaluation/authentication.js" type="text/javascript"></script>
    <script src="~/js/evaluation/evaluate.js" type="text/javascript"></script>
    <script>
        $(document).ready(() => {
            let serviceType = '@Model.ServiceType.ToString().ToLower()';
            Evaluate.initPage(serviceType);
        });
    </script>
}