﻿@{
    ViewData["Title"] = "Đánh Giá Chất Lượng";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/evaluation/index.css" />
<div class="body-content">
    <div class="row">
        <div class="col-md-12 text-center">
            <img id="logo" src="~/images/logo.png" />
        </div>
        <div class="col-md-12 text-center">
            <h1 class="text-uppercase">Đánh Giá Chất Lượng Dịch Vụ</h1>
            <p class="lead">Khảo sát chất lượng dịch vụ tại ALT IELTS gia sư</p>
            <a class="btn btn-custom-red-color" href="/evaluation/authentication">Bắt Đầu</a>
        </div>
    </div>
</div>
