﻿@{
    ViewData["Title"] = "Cảm ơn";
}
<link rel="stylesheet" href="~/css/evaluation/thanks.css" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="asset-icon" src="~/images/emoji/Asset.png" />
                    </div>
                    <div class="col-md-12">
                        <h2>Cảm ơn bạn đã đánh giá.</h2>
                        <span>ALT IELTS Gia Sư sẽ nỗ lực để đem đến nhiều trải nghiệm thú vị trong thời gian tới.</span><br />
                        <span>Hãy tiếp tục theo dõi chúng tôi tại <b>ieltsgiasu.com</b></span><br />
                    </div>
                    <div class="col-md-12 text-center countdown-btn">
                        <button class="btn btn-custom-red-color">Đánh Giá Lại Từ Đầu <span id="time">(5)</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/evaluation/thanks.js" type="text/javascript"></script>
}