﻿:root {
    --auth-bg-color-active: #C32538;
    --auth-color-active: white;
    --auth-bg-color-hover: #868080;
    --auth-color-hover: #C32538;
    --auth-color: #C32538;
    --auth-bg-color: white;
    --auth-img-active-filter: brightness(20);
    --auth-img-filter: none;
}

.service-type-header, .btn-service-type, .service-type {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input#passcode {
    max-width: none;
}

.service-type-btns, #passcode {
    width: 100%;
}

.service-type-icon {
    width: 5rem;
}

.invalid-feedback {
    color: var(--auth-color);
}

.btn-outline-red.active {
    color: var(--auth-color-active) !important;
    background-color: var(--auth-bg-color-active) !important;
    border-color: var(--auth-color-active) !important;
}

    .btn-outline-red.active img {
        filter: var(--auth-img-active-filter);
    }

.btn-outline-red img {
    filter: var(--auth-img-filter);
}

.btn-outline-red:hover {
    color: var(--auth-color-hover);
    background-color: var(--auth-bg-color-hover);
    border-color: var(--auth-color-hover);
}

.btn-outline-red {
    color: var(--auth-color);
    background-color: var(--auth-bg-color);
    border-color: var(--auth-color);
}
