﻿:root {
    --auth-bg-color-active: white;
    --auth-color-active: #C32538;
    --auth-bg-color-hover: #C53C5B;
    --auth-color-hover: white;
    --auth-color: white;
    --auth-bg-color: #C32538;
    --auth-img-active-filter: none;
    --auth-img-filter: brightness(20);
}

#start-evaluate {
    width: 100%;
}

.evaluate-card {
    background-color: var(--auth-bg-color);
    color: var(--auth-color);
}

.arrow-icon {
    width: 5rem;
}

.login-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
