﻿.comment > textarea {
    width: 100%;
    max-width: none;
}

.text-red {
    color: red;
}

.display-none {
    display: none;
}

.icon-size {
    width: 4rem;
}

#question, #emoji, #status, .stars {
    margin-bottom: 0.5rem;
}

.stars {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-on {
    background-image: url("/images/star.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.star-off {
    background-image: url("/images/star-not-rating.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.evaluate-star {
    display: block;
    height: inherit;
    width: 2rem;
}

.evaluate-container {
    color: black;
}

#send-button {
    min-width: 12rem;
}