﻿.body-content {
    height: 100%;
    width: 100%;
    background: url(/images/group-people.svg), url(/images/group-people-wave.svg);
    background-repeat: no-repeat;
    background-size: 90vw, 200vw 80vh;
    background-position: bottom;
    color: #19202B;
    overflow: hidden;
}

.lead {
    color: #BEBCBC;
}
