﻿:root {
    --btn-custom-bg-color-hover: #C53C5B;
    --btn-custom-color: white;
    --btn-custom-bg-color: #C32538
}

body {
    width: 100vw;
    height: 100vh;
}

#logo {
    width: 10rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.btn-custom-red-color {
    color: var(--btn-custom-color);
    background-color: var(--btn-custom-bg-color);
    border-color: var(--border-red-color);
}

.btn-custom-red-color:hover {
    background-color: var(--btn-custom-bg-color-hover);
    color: var(--btn-custom-color);
}
